container{
  width: 378px; 
  margin: auto;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.5);
}
.container-img{
  width: 120.5px;
  margin: auto;

}
a{
  text-decoration: none;
  color: white;
}

img{
  width: 169px;
  height: 169px;
  border-radius: 50%;
  margin-top: 10px;

}
body{
  background-color: hsl(0, 0%, 8%);
  font-family: sans-serif;
  /* overflow: hidden; */

}
.text{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button{
  background-color: hsl(0, 0%, 20%);
  border-radius: 8px;
  border: none;
  color: white;
  align-content: center;
  width: 300px;
  margin: 8px;
  padding: 8px;
  box-shadow: 0px 0px 4px  rgba(255, 255, 255, 0.5);
}
b
h1{
  color: beige;
}
h2 {
  color: antiquewhite;
}
h3{
  color: greenyellow;
}

.text p{
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  padding-bottom: 20px;
}
.buttons{
 width: 300px;
 margin: auto;
 display: flex;
 flex-direction: column;
}
 
button:hover{
  background-color:  hsl(0, 0%, 8%);
  color: white;
}

button:active{
  background-color: white;
  color: black;
}

